/* MENU HAMBURGUER */
.header nav #menu-hamburguer, nav label {
  display: none;
}

.header nav .hamburguer {
  background-color: black;
  width: 30px;
  height: 2px;
  position: relative;
  display: block;
  transition: 0.5 ease-in-out;
}

.header nav .hamburguer::before,
.header nav .hamburguer::after {
  background-color: black;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  transition: 0.3 ease-in-out;
}

.header nav .hamburguer::before {
  top: -10px;
}

.header nav .hamburguer::after {
  top: 10px;
}

/* quando o input for checked ~ quero que o label... */
.header nav input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}
.header nav input:checked ~ label .hamburguer::before {
  transform: rotate(90deg);
  top: 0;
}
.header nav input:checked ~ label .hamburguer::after {
  transform: rotate(90deg);
  top: 0;
}

@media (max-width: 900px) {
  .header nav label {
    display: block;
  }

  .header nav ul {
    display: none;
  }

  .header nav input:checked ~ ul {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 0;
    width: 200px;
    background-color: #ffffffa2;
    padding: 20px;
  }

  .header ul li a {
    display: block;
    text-align: center;
    padding: 20px 0;
  }
}