@media (max-width: 735px) {
  .hero {
    height: 65vh;
  }

  .hero h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 476px) {
  .about {
    grid-template-columns: 1fr;
  }
  
  .about .left {
    grid-row: 4/5;
  }

  .about .item {
    text-align: center;
  }

  .about .item a {
    align-self: center;
  }
}

@media (max-width: 476px) {
  .services {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 476px) {
  .projects {
    grid-template-columns: 1fr;
  }
}